.contentStyle{
    width : 300px;
    height : 300px;
    color : white;
}
.carProf{
    border-radius: 20px;
    box-shadow: 0px 0px 13px #5c5c5c78;
}
.carProf img{
    max-width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.carProf p{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    background: black;
}