.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body {
  background-color: #333333;
  width: 100vw;
  height: 100vh;
  padding: 30px;
}

.content {
  background-color: #161616;
  width: 60vw;
  height: 80vh;
  border-radius: 20px;
  padding: 10px 20px;

}

.fileUploadBox {
  background-color: #000000;
  width: 100%;
  /* height:40%; */
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.fileUpload {
  background-color: #ACACAC;
  width: 100%;
  height: 50%;
  border-radius: 10px;
  padding: 10px;
}

.title {
  color: #ffffff;
  padding: 5px 10px 0px 10px;
  font-weight: 600;
}

.carInfo {
  width: 100%;
  display: flex;
}

.carInfoList {
  wdith: 100%;
  background-color: black;
  margin: 10px;
  display: flex;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
}

.carInfoList p {
  color: white;
  font-weight: 600;
  width: 70%;
}

.carInfoList div {
  width: 30%;
}

.zarButton {
  background-color: #D9D9D9;
  color: black;
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 20px;
  margin-right: 10px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat !important;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo,
  Monaco,
  Lucida Console,
  Courier New,
  monospace;
}

input[type='button'] {
  border: none;
  background: transparent;
  color: white;
  padding: 6px 12px;
  margin: 4px;
  font-size: 16px;
  width: 70px;
  height: 30px;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}

.zurag {
  width: 100vw;
  height: 100vh;
  background-image: url("./asset/img/background.jpg");
  background-size: cover;
  background-position: center;
}

.logo {
  background-image: url("./asset/img/logo.png");
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  border-radius: 50% !important;
  position: relative;

  &.border-white {
    border: 4px solid white-color;
  }

  &.border-gray {
    border: 4px solid card-muted-color;
  }
}

.titleContainer, .descTitleContainer {
  margin-top: -100px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /*height: 88vh;*/

}


.titleContainer .title {
  font-size: 100px;
  font-weight: 900;
  background: -webkit-linear-gradient(#eee, #003f79);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.descTitle {
  font-size: 40px;
}

.titleContainer .description {
  font-size: 20px;
  font-weight: 400;
  background: -webkit-linear-gradient(#eee, #00264a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.descriptionText {
  font-size: 18px;
  font-weight: 150;
  display: flex;
  text-align: center;
  width: 700px;
}

.animate {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transform: translateX(50%);
  border-radius: 5px;
  animation: slideUp 0.5s ease-out forwards;
}

/* Animation keyframes */
@keyframes slideUp {
  from {
    transform: translate(0%, 100%);

  }
  to {
    transform: translate(0%, 0%);
  }
}


.headers {
  height: 12vh;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  margin-left: 300px;
  margin-right: 300px;
  color: white;
  font-weight: 700
}

@media only screen and (max-width: 1300px) {
  .headers {
    margin-left: 40px;
    margin-right: 40px;
  }

  .list div {
    padding-left: 20px
  }

  .titleContainer .title {
    font-size: 70px;
    font-weight: 600;
    background: -webkit-linear-gradient(#eee, #003f79);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .titleContainer .description {
    font-size: 15px;
    font-weight: 380;
    background: -webkit-linear-gradient(#eee, #00264a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media only screen and (min-width: 1300px) {
  .headers {
    margin-left: 60px;
    margin-right: 60px;
  }

  .list div {
    padding-left: 30px
  }

  .titleContainer .title {
    font-size: 80px;
    font-weight: 700;
    background: -webkit-linear-gradient(#eee, #003f79);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .titleContainer .description {
    font-size: 16px;
    font-weight: 400;
    background: -webkit-linear-gradient(#eee, #00264a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media only screen and (min-width: 1600px) {
  .headers {
    margin-left: 80px;
    margin-right: 80px;
  }

  .list div {
    padding-left: 40px
  }

  .titleContainer .title {
    font-size: 90px;
    font-weight: 800;
    background: -webkit-linear-gradient(#eee, #003f79);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .titleContainer .description {
    font-size: 18px;
    font-weight: 500;
    background: -webkit-linear-gradient(#eee, #00264a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media only screen and (min-width: 1800px) {
  .headers {
    margin-left: 100px;
    margin-right: 100px;
  }

  .list div {
    padding-left: 45px
  }

  .titleContainer .title {
    font-size: 100px;
    font-weight: 900;
    background: -webkit-linear-gradient(#eee, #003f79);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .titleContainer .description {
    font-size: 20px;
    font-weight: 600;
    background: -webkit-linear-gradient(#eee, #00264a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}


.right {
  display: flex;
  justify-content: end;
}

.left {
  display: flex;
  justify-content: start;
  font-weight: 800
}

.list {
  display: flex;
}

.moving-clouds {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 500em;
  height: 60vh;
  -webkit-animation: cloudLoop 240s linear infinite;
  animation: cloudLoop 240s linear infinite;
}

@keyframes cloudLoop {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.footerText {
  display: flex;
  color: white;
  justify-content: center;
  margin-top: 50px;
  font-weight: 700;
}

.buyPage {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  display: flex;
}

.buyPage .rightpanels {
  width: 35% !important;
  background: #161616;
  margin: 10px;
  border-radius: 20px;
  padding: 20px;
}

.buyPage .leftpanels {
  width: 65% !important;
  /*background: #161616;*/
  border-radius: 20px;
  margin: 10px;
}

.buyPage .header {
  color: white;
  display: flex;
  justify-content: end;
  align-items: center;
}

.buyPage .header a {
  padding: 10px;
  color: white;
}

.buyPage .header img {
  height: 40px;
  width: 40px;
  border: 2px solid white;
  border-radius: 25px;
}

.buyPage .buyCar .header {
  justify-content: start;
}

.buyPage .buyCar .line {
  width: 100%;
  background: white;
  height: 2px;
  border-radius: 2px;
}

.buyPage .buyCar .lines {
  position: absolute;
}

.buyPage .buyCar .deprecatedLine {
  margin-top: -2px;
  width: 100%;
  background: #ACACAC;
  height: 2px;
  border-radius: 5px;
}

.buyPage .likedCars {
  padding: 10px;
}

.buyPage .likedCar {
  width: 100%;
  display: grid;
}

.buyPage .likedCar img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
}

.buyPage .name {
  color: white;
  font-weight: bold;
  margin: 0px;
}

.buyPage .bar {
  width: 100%;
  height: 60px;
  background: black;
  border-radius: 20px;
  padding: 10px;
  margin-top: -60px;
}

.buyPage .top {
  display: flex;
  align-items: end;
}

.buyPage .bottom {
  display: flex;
  align-items: end;
}

.buyPage .bottom img {
  width: 15px !important;
  height: 15px !important;
}

.buyPage .yearGrade {
  margin-left: 20px;
  font-size: 12px;
  color: white;
}

.buyPage .location {
  margin-left: 5px;
  font-size: 12px;
  color: white;
}

.buyPage .phone {
  margin-left: 10px;
  font-size: 12px;
  color: white;
}

.buyPage .filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buyPage .filter .swipe {
  justify-content: center;
  align-items: center;
  width: 500px;
  display: grid;
}

.buyPage .filter .swipe img {
  width: 500px;
  height: 80vh;
  object-fit: cover;
  border-radius: 20px;
}

.buyPage .swipe .texts {
  border-radius: 20px;
  margin-top: -500px;
  height: 500px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.8));
}

.buyPage .texts .gradient {
  border-radius: 20px;
  margin-top: 200px;
  height: 250px;
  /*background: linear-gradient(rgba(0, 0, 0, 0.47), rgba(255, 255, 255, 0));*/
  color: white;
  padding: 20px;
}

.buyPage .gradient a {
  font-weight: bold;
}

.buyPage .comment {
  padding: 10px;
}

.buyPage .control-bar {
  display: flex;
  justify-content: space-around;
  margin-top: -100px;
}

.buyPage .bttn {
  width: 50px;
  height: 50px;
  background: rgba(110, 110, 110, 0.8);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-align-right{
  text-align: right;
}
.text-align-left{
  text-align: left;
}
.text-align-center{
  text-align: center;
}
.div-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.justify-right{
  justify-content: right;
}

:where(.css-dev-only-do-not-override-1okl62o).ant-card{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.88);
  font-size: 14px;
  line-height: 1.5714285714285714;
  list-style: none;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  position: relative;
  background: rgba(0, 0, 0, 0.72);
  border-radius: 15px;
  border: none;
  box-shadow: 0px 0px 100px #00414e;
}
:where(.css-dev-only-do-not-override-1okl62o).ant-tabs .ant-tabs-tab{
  position: relative;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-flex;
  align-items: center;
  padding: 12px 0;
  font-size: 14px;
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.88);
}
::-webkit-scrollbar {
   display: none;
 }
:where(.css-dev-only-do-not-override-1okl62o).ant-card .ant-card-head{
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 56px;
  margin-bottom: -1px;
  padding: 0 24px;
  color: rgba(255, 255, 255, 0.88);
  font-weight: 600;
  font-size: 16px;
  background: transparent;
  border-bottom: 1px solid #000000;
  border-radius: 8px 8px 0 0;
}

:where(.css-dev-only-do-not-override-1okl62o).ant-card .ant-card-head-title{
  display: inline-block;
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: start;
}